@import "variables";
@import "skin";

@import "mixins-media";
@import "mixins";
@import "extends";

@import "bootstrap-theming";

@import "common";
// @import "header";
// @import "main";
// @import "page";
// @import "sidebar";
// @import "footer";

.header {
  margin-bottom: 80px;

  &-logo {
    padding: 100px 0;
    text-align: center;
    background-color: $color-dark;
    background: url(../img/header-bg.jpg);
    background-position: center center;
    background-size: cover;

    &-title {
      display: block;
      letter-spacing: 0.33em;
      font-size: 3.5rem;
      color: $color-accent;
      font-family: $font-header;
      line-height: 1.42857143;
    }

    &-text {
      display: block;
      letter-spacing: 0.2em;
      color: #ffffff;
      font-size: 1.15rem;
    }
  }
}


.news-item {
  position: relative;
  clear: both;

  &-img {
    width: 75px;
    float: left;
    margin: 0 10px 10px 0;
  }

  &-title a{
    display: block;
    overflow: hidden;
    height: 50px;
  }

  &-date {
    text-align: right;
  }

  &:not(:last-child){
    margin-bottom: 15px;
    min-height: 85px;
  }

  &:not(:last-child)::after{
    position: absolute;
    right: 0;
    bottom: -5px;
    width: calc(100% - 85px);
    height: 1px;
    content: "";
    background-color: #dddddd;
  }
}
