.header-logo-title {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.header, .main {
  margin-bottom: 79.99999px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
}

.navbar-inverse {
  background-color: #191919;
}

.navbar-left > li {
  margin: 5px 5px 5px 0;
}

.navbar-right > li {
  margin: 5px 0 5px 5px;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #ffffff;
  background-color: #053159;
  border-radius: 4px;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #165690;
  border-radius: 4px;
}

.panel {
  margin-bottom: 30px;
}

.panel-warning {
  background-color: #ebebeb;
  border-color: #dddddd;
}

.panel-heading {
  font-size: 1.2rem;
  letter-spacing: .1em;
}

.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border-color: #df8a13;
}

.nav-tabs {
  border-bottom: none;
}

.nav > li > a {
  color: #ffffff;
}

.nav > li > a:hover {
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: transparent;
  border-color: transparent;
  color: #ebebeb;
}

.input-lg {
  border-radius: 6px;
  font-size: .875em;
}

.list-group {
  margin-bottom: 0;
}

.embed-responsive {
  border: 1px solid #dddddd;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.well {
  text-align: center;
}

html {
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  overflow-y: scroll;
}

a,
a:hover {
  text-decoration: none;
  color: #165690;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.film-info {
  position: relative;
  overflow: hidden;
}

.film-info-title {
  position: relative;
  font-family: "PT Serif", serif;
  margin: -10px 0 45px 0;
}

.film-info-title::after {
  position: absolute;
  content: '';
  width: 100%;
  margin: .85em 0 0 15px;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.film-info-content {
  font-size: 1.2em;
  white-space: nowrap;
}

.film-info-content:not(:last-of-type) {
  margin-right: 15px;
}

.film-info-badge {
  font-size: 0.8em;
}

.film-about,
.film-comment,
.film-feedback {
  position: relative;
  overflow: hidden;
}

.film-feedback-button {
  float: right;
}

.film-feedback-title,
.film-comment-title,
.film-about-title {
  margin: 60px 0 45px 45px;
}

.film-feedback-title:before,
.film-comment-title:before,
.film-about-title:before {
  position: absolute;
  content: '';
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 .2em;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.film-feedback-title::after,
.film-comment-title::after,
.film-about-title::after {
  position: absolute;
  content: '';
  width: 100%;
  margin: .85em 0 0 15px;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background: url(../img/header-bg.jpg);
  background-position: center center;
  background-size: cover;
}

.header-logo-title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
  line-height: 1.42857143;
}

.header-logo-text {
  display: block;
  letter-spacing: 0.2em;
  color: #ffffff;
  font-size: 1.15rem;
}

.site-search-main {
  margin-bottom: 45px;
}

.user-login-main {
  margin-bottom: 60px;
}

.new-films {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.new-films-title {
  position: relative;
  font-family: "PT Serif", serif;
  margin: -6.5px 0 45px;
}

.new-films-title:after {
  position: absolute;
  content: '';
  width: 100%;
  margin: 0.85em 0 0 15px;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.new-films-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.new-films-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.new-films-item-thubmail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.new-films-item-thubmail:hover {
  background-color: #df8a13;
}

.new-films-item-thubmail:hover .new-films-item-title {
  color: #ffffff;
}

.new-films-item-img {
  width: 100%;
}

.new-films-item-caption {
  text-align: center;
}

.new-films-item-title {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.top-week {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.top-week-title {
  position: relative;
  font-family: "PT Serif", serif;
  margin: 60px 0 45px 45px;
}

.top-week-title::before {
  position: absolute;
  content: '';
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 -1em;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.top-week-title::after {
  position: absolute;
  content: '';
  width: 100%;
  margin: .85em 0 0 15px;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.top-week-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.top-week-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.top-week-item-thubmail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.top-week-item-thubmail:hover {
  background-color: #df8a13;
}

.top-week-item-thubmail:hover .new-films-item-title {
  color: #ffffff;
}

.top-week-item-img {
  width: 100%;
}

.top-week-item-caption {
  text-align: center;
}

.top-week-item-title {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.film-news {
  position: relative;
  overflow: hidden;
}

.film-news-title {
  position: relative;
  font-family: "PT Serif", serif;
  margin: 60px 0 45px 45px;
}

.film-news-title::before {
  position: absolute;
  content: '';
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 -1em;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.film-news-title::after {
  position: absolute;
  content: '';
  width: 100%;
  margin: .85em 0 0 15px;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.film-news-item:hover .film-news-item-thumbmail,
.film-news-item:hover .film-news-item-link {
  background-color: #df8a13;
}

.film-news-item:hover .film-news-item-title a {
  color: #df8a13;
}

.film-news-item-title a {
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.film-news-item-thumbmail {
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

.film-news-item-text {
  text-align: justify;
}

.film-news-item-link {
  float: right;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
  margin-bottom: 30px;
}

.vertical-carusel {
  overflow: hidden;
  border-radius: 4px;
}

.vertical-carusel img {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login-tab {
  position: absolute;
  top: 0;
  right: 10px;
}

.user-login-tab-item > a {
  padding: 14px 5px !important;
}

.news-item {
  position: relative;
  clear: both;
}

.news-item-img {
  width: 75px;
  float: left;
  margin: 0 10px 10px 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.news-item-title {
  margin-bottom: 10px;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.news-item-title a {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.news-item-title a:hover {
  text-decoration: none;
  color: #df8a13;
}

.news-item-date {
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.news-item:not(:last-child) {
  margin-bottom: 15px;
  min-height: 85px;
}

.news-item:not(:last-child)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  content: "";
  background-color: #dddddd;
}

.news-item:hover .news-item-img {
  background-color: #df8a13;
}

.news-item:hover .news-item-title a {
  text-decoration: none;
  color: #df8a13;
}

.top-films-body {
  padding-left: 0;
  padding-right: 0;
}

.top-films-item {
  color: #165690 !important;
  background-color: #ebebeb;
  overflow: hidden;
  padding-right: 50px;
  margin-left: -1px;
  margin-right: -1px;
}

.top-films-item:hover, .top-films-itemfocus {
  border-color: #df8a13;
  background-color: #df8a13 !important;
  color: #ffffff !important;
}

.top-films-item:hover .badge, .top-films-itemfocus .badge {
  background-color: #232323;
}

.top-films-item:first-child {
  border-top: none;
}

.top-films-item:last-child {
  border-bottom: none;
}

.top-films-item-badge {
  margin-right: -35px;
}

.footer {
  padding-top: 50px;
  background-color: #232323;
}

.footer-column h4 {
  color: #ffffff;
}

.footer a {
  color: #777777;
}

.footer-bottom {
  margin: 20px 0;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 576px) {
  .film-info-title {
    font-size: 3rem;
  }
  .film-feedback-title,
  .film-comment-title,
  .film-about-title {
    font-size: 2.5rem;
  }
  .header-logo-title {
    margin-right: -15px;
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
  .new-films-title {
    font-size: 3rem;
  }
  .top-week-title {
    font-size: 2.5rem;
  }
  .film-news-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 575.8px) {
  .film-info-title {
    font-size: 2rem;
  }
  .film-feedback-title,
  .film-comment-title,
  .film-about-title {
    font-size: 1.75rem;
  }
  .header-logo-title {
    margin-right: -7.5px;
    letter-spacing: 0.2em;
    font-size: 2.5rem;
  }
  .new-films-title {
    font-size: 2rem;
  }
  .top-week-title {
    font-size: 1.75rem;
  }
  .film-news-title {
    font-size: 1.75rem;
  }
}
